
<%= render 'form' %>
<br />
<td><% if session[:user_id].nil? %></td>
    <div class="btn btn-success topcorner2">
      <%= link_to 'Back', root_url , :style =>'color:#FFFFFF;' %></div>
  <% else %>
    <div class="btn btn-success topcorner2">
      <%= link_to 'Back','customeroptions/index', :style =>'color:#FFFFFF;' %></div>
  <% end %>
