<head>
  <div class="homeheader" align="center">
    <button class="bt"><%= link_to 'Login',new_session_path, :style => 'text-decoration: none;'%></button>
    <br>
    <button class="bt"><%= link_to 'Agent Sign up', home_index_path, :style =>'text-decoration: none;'%></button>
    <br>
    <button class="bt"><%= link_to 'Customer Sign up', home_index_path, :style =>'text-decoration: none;'%></button>
  </div>
</head>
<body>


</body>