<head>
  <div class="loginheader" align="center">
    <button class="btn-success"><%= link_to 'Login','/sessions/new', :style => 'text-decoration: none;'%></button>
    <br>
    <button class="btn-success"><%= link_to 'Agent Sign up', '/agents/new', :style =>'text-decoration: none;'%></button>
    <br>
    <button class="btn-success"><%= link_to 'Customer Sign up', '/customers/new', :style =>'text-decoration: none;'%></button>
  </div>
</head>
<body>


</body>