<h1>Listing Agents</h1>

<!--<div class="btn btn-success">-->
<!--  <%#= link_to 'Profile/History', agent_path(session[:agent_id]), method: :get, :style =>'color:#FFFFFF;'  %></div>-->

<!--<div class="btn btn-success">-->
<!--  <%#= link_to 'Log Out', logout_path(session[:member_id]), method: :delete, :style =>'color:#FFFFFF;'  %></div>-->


<div class = "padding">

  <table>
    <tr>
      <th>S.No.</th>
      <th>Name</th>
      <th>Email ID</th>
    </tr>

    <% id=0 %>
    <% @agents.each do |agent| %>
      <tr>
        <td><%= id+=1 %></td>
        <td><%= agent.name %></td>
        <td><%= agent.email %></td>
      </tr>
    <%end %>
  </table>

</div>


<!--<div class="btn btn-success topcorner2">-->
<!--  <%#= link_to 'Back', , :style =>'color:#FFFFFF;' %></div>-->

<div class="btn btn-success topcorner">
  <%= link_to 'Home', 'welcome/index', :style =>'color:#FFFFFF;'%>
</div>